<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<testsuites>
		<testsuite name="tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
		 	<file>script/checkAccountField.php</file> 
		 	<file>script/checkCarField.php</file>  
		 	<file>script/checkManufactureField.php</file>  
		 	<file>script/passwordHash.php</file>   
		</whitelist>
	</filter>
</phpunit>
